@import "../../scss/index.scss";

main {
  section {
    max-width: 1024px;
    margin: auto;
  }

  #user {
    display: flex;
    flex-direction: column;
    gap: 20px;

    #profile {
      display: flex;
      flex-direction: column;
      align-items: center;

      gap: 10px;

      img {
        border: 1px solid red;
        border-radius: 50%;

        width: 50%;

        object-fit: cover;
        aspect-ratio: 1/1;
      }

      p {
        font-size: rem-calc(20);
      }
    }

    #bio {
      font-size: rem-calc(16);

      max-height: 100px;

      overflow-y: auto;
    }
  }

  #dataManager {
    display: flex;
    flex-direction: column;
    gap: 10px;

    padding: 20px 0;

    #toggleManager {
      display: flex;
      justify-content: space-around;

      span {
        font-size: rem-calc(14);

        padding: 5px;

        cursor: pointer;

        &:nth-child(2) {
          background-color: black;

          display: block;

          width: 1px;
          padding: 0;

          cursor: none;
        }
      }
    }
  }
}

@media (min-width: 760px) {
  main {
    #user {
      flex-direction: row;
      align-items: center;
      gap: 0;

      #profile {
        flex: 2;

        img {
          width: 55%;
        }

        p {
          font-size: rem-calc(22);
        }
      }

      #bio {
        flex: 4;

        font-size: rem-calc(18);
      }
    }

    #dataManager {
      #toggleManager {
        span {
          font-size: rem-calc(20);
        }
      }
    }
  }
}
