@import "../../scss/index.scss";

@keyframes showImg {
  50% {
    scale: 1.2;
  }

  100% {
    scale: 1;
  }
}

main {
  background-color: $primary-bg-color;

  section {
    max-width: 1024px;
    margin: auto;
  }

  #user {
    display: flex;
    flex-direction: column;
    gap: 20px;

    #profile {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;

      scale: 0;

      animation: showImg 1000ms ease forwards;

      img {
        background-color: $secondary-bg-color;
        border: 2px solid $tertiay-bg-color;
        border-radius: 50%;

        width: 50%;

        object-fit: cover;
        aspect-ratio: 1/1;
      }

      p {
        color: $primary-text-color;
        font-size: rem-calc(20);
      }
    }

    #bio {
      color: $tertiary-text-color;
      font-size: rem-calc(16);

      max-height: 100px;

      overflow-y: auto;
    }
  }

  #dataManager {
    display: flex;
    flex-direction: column;
    gap: 10px;

    padding: 20px 0;

    #toggleManager {
      display: flex;
      justify-content: space-around;

      a {
        color: $tertiary-text-color;
        font-size: rem-calc(14);
        text-decoration-line: none;

        padding: 5px;

        transition: color ease 700ms;
        cursor: pointer;

        &.disabled {
          opacity: 0.5;

          cursor: not-allowed;
        }

        &.link-activated {
          color: $primary-text-color;
        }
      }

      span {
        background-color: $tertiay-bg-color;

        display: block;

        width: 1px;
        padding: 0;

        cursor: none;
      }
    }
  }
}

@media (min-width: 760px) {
  main {
    #user {
      flex-direction: row;
      align-items: center;
      gap: 0;

      #profile {
        flex: 2;

        img {
          width: 55%;
        }

        p {
          font-size: rem-calc(22);
        }
      }

      #bio {
        flex: 4;

        font-size: rem-calc(18);
      }
    }

    #dataManager {
      #toggleManager {
        a {
          font-size: rem-calc(20);
        }
      }
    }
  }
}
