<main>
  <section id="user">
    <div id="profile">
      <img src="../../../assets/imgs/user-logo.svg" alt="Profile" />
      <p>{{ userData ? userData.username : "Player" }}</p>
    </div>
    <p id="bio">
      {{ userData ? userData.bio : "Not Found..." }}
    </p>
  </section>
  <section id="dataManager">
    <div id="toggleManager">
      <span routerLink="profile" routerLinkActive="link-activated"
        >Account Manager</span
      >
      <span></span>
      <span routerLink="favorite" routerLinkActive="link-activated"
        >Favorite games</span
      >
    </div>
    <router-outlet></router-outlet>
  </section>
</main>
