@import "../../../scss/index.scss";

:host {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 15px;

  @keyframes showCard {
    50% {
      scale: 1.1;
    }

    100% {
      scale: 1;
    }
  }

  .cards {
    background-color: rgba($secondary-bg-color, 0.7);
    border: 2px solid $tertiay-bg-color;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    gap: 10px;
    grid-column: span 8;

    padding: 20px;

    scale: 0;

    animation: showCard 800ms ease forwards;

    img {
      background-color: $secondary-bg-color;
      border: 2px solid $primary-bg-color;
      border-radius: 20px;
    }

    .game-info {
      display: flex;
      flex-direction: column;
      gap: 10px;

      color: $primary-text-color;

      .game-name {
        font-size: rem-calc(16);
      }

      .game-size {
        font-size: rem-calc(14);
      }
    }

    a {
      background-color: $secondary-bg-color;
      border: 2px solid $primary-bg-color;
      border-radius: 5px;

      color: $seconday-text-color;
      font-size: rem-calc(18);
      font-weight: bold;
      text-align: center;
      text-decoration-line: none;

      width: 50%;
      min-width: 110px;
      padding: 10px 0;
      margin: auto;

      transition: transform 200ms ease;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

@media (min-width: 760px) {
  :host {
    .cards {
      grid-column: span 4;

      .game-info {
        .game-name {
          font-size: rem-calc(20);
        }

        .game-size {
          font-size: rem-calc(18);
        }
      }

      a {
        font-size: rem-calc(22);
      }
    }
  }
}

@media (min-width: 1020px) {
  :host {
    .cards {
      grid-column: span 2;

      .game-info {
        .game-name {
          font-size: rem-calc(16);
        }

        .game-size {
          font-size: rem-calc(14);
        }
      }

      a {
        font-size: rem-calc(18);
      }
    }
  }
}
