<div class="cards">
  <img src="../../../../assets/imgs/game-logo.svg" alt="Game" />
  <div class="game-info">
    <p class="game-name">Game name</p>
    <p class="game-size">Size - 1G</p>
  </div>
  <a href="#">Download</a>
</div>
<div class="cards">
  <img src="../../../../assets/imgs/game-logo.svg" alt="Game" />
  <div class="game-info">
    <p class="game-name">Game name</p>
    <p class="game-size">Size - 1G</p>
  </div>
  <a href="#">Download</a>
</div>
<div class="cards">
  <img src="../../../../assets/imgs/game-logo.svg" alt="Game" />
  <div class="game-info">
    <p class="game-name">Game name</p>
    <p class="game-size">Size - 1G</p>
  </div>
  <a href="#">Download</a>
</div>
<div class="cards">
  <img src="../../../../assets/imgs/game-logo.svg" alt="Game" />
  <div class="game-info">
    <p class="game-name">Game name</p>
    <p class="game-size">Size - 1G</p>
  </div>
  <a href="#">Download</a>
</div>
