@import "../../scss/index.scss";

footer {
  background-color: rgba($primary-bg-color, 64%);
  backdrop-filter: blur(4px);
  border-top: 1px solid $secondary-bg-color;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  padding: 20px;

  p {
    color: $primary-text-color;
    font-size: rem-calc(12);

    span {
      font-weight: bold;
    }
  }

  #links {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    align-self: normal;
    gap: 10px;

    a {
      display: flex;
      align-items: center;
      gap: 5px;

      color: $primary-text-color;
      font-size: rem-calc(10);
      font-weight: 100;
      text-decoration: none;
      text-wrap: nowrap;

      img {
        position: relative;
        bottom: 1px;
      }
    }
  }
}
