@import "../../scss/index.scss";

footer {
  background-color: $primary-bg-color;
  padding: 20px;

  #copy {
    max-width: 1024px;
    margin: auto;

    p {
      color: $tertiary-text-color;
      font-size: rem-calc(14);
      text-align: center;
    }
  }
}

@media (min-width: 760px) {
  footer {
    #copy {
      p {
        font-size: rem-calc(16);
      }
    }
  }
}
