<footer>
  <p>
    &copy;2024 Finotti Dev
    <span>All rights reserved</span>
  </p>
  <div id="links">
    <a href="https://github.com/GabrielFinotti" target="_blank">
      <img src="../../../assets/icons/github-icon.svg" alt="GitHub" />
      GabrielFinotti
    </a>
    <a href="https://www.instagram.com/finottidev.31" target="_blank">
      <img src="../../../assets/icons/instagram-icon.svg" alt="Instagram" />
      Finottidev.31
    </a>
    <a
      href="https://www.linkedin.com/in/gabriel-h-finotti-6b4bb029b"
      target="_blank"
    >
      <img src="../../../assets/icons/linkedin-icon.svg" alt="LinkedIn" />
      Gabriel H. Finotti
    </a>
  </div>
</footer>
