<header>
  <nav>
    <div routerLink="/" id="logo">
      <img src="../../../assets/imgs/ps2-logo.svg" alt="Logo" />
      <h1>PS2 BLOG</h1>
    </div>
    <button [ngClass]="{ 'active-nav': isToggle }" (click)="onClick()">
      <span class="line"></span>
      <span class="line"></span>
      <span class="line"></span>
    </button>
    <div [ngClass]="{ activated: isToggle }" id="navLinks">
      <a
        routerLink="/"
        routerLinkActive="link-activated"
        [routerLinkActiveOptions]="{ exact: true }"
        (click)="onClick()"
        >Home</a
      >
      <a
        [routerLink]="['/account/user', username]"
        routerLinkActive="link-activated"
        (click)="onClick()"
        >Acount</a
      >
    </div>
  </nav>
</header>
