@import "../../scss/index.scss";

header {
  background-color: $primary-bg-color;

  position: relative;

  padding: 20px;

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: 1024px;
    margin: auto;

    #logo {
      display: flex;
      align-items: center;
      gap: 5px;

      cursor: pointer;

      img {
        width: 60px;
      }

      h1 {
        color: $tertiary-text-color;
        font-size: rem-calc(26);
        text-wrap: nowrap;

        width: 50px;

        overflow: hidden;

        transition: width 850ms ease;
      }
    }

    button {
      background: none;
      border-radius: 4px;

      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5px;

      padding: 5px;

      transition: all 400ms ease;

      &.active-nav {
        background-color: rgba($secondary-bg-color, 0.6);
        border: 2px solid $secondary-bg-color;

        padding: 5px 2px 5px 1px;

        .line {
          background-color: $primary-bg-color;

          &:nth-child(1) {
            transform: rotate(45deg) translate(6px, 5px);
          }

          &:nth-child(2) {
            background-color: transparent;
          }

          &:nth-child(3) {
            transform: rotate(-45deg) translate(8px, -7px);
          }
        }
      }

      .line {
        background-color: $secondary-bg-color;
        border-radius: 50px;

        display: block;

        width: 30px;
        height: 4px;

        transition: all 400ms ease;
      }
    }

    #navLinks {
      background-color: $primary-bg-color;

      position: absolute;
      top: 100%;
      right: 0;

      width: 0;
      height: calc(100vh - 100px);

      overflow: hidden;

      transition: width 500ms ease;

      &.activated {
        width: 50%;

        a {
          opacity: 1;
        }
      }

      a {
        border-bottom: 1px solid $secondary-bg-color;

        display: block;

        color: $primary-text-color;
        font-size: rem-calc(18);
        text-indent: 10px;
        text-decoration-line: none;

        padding: 10px 0;

        opacity: 0;

        transition: all 700ms ease;

        &.link-activated {
          border-bottom: 1px solid $tertiay-bg-color;
        }
      }

      z-index: 100000000;
    }
  }
}

@media (min-width: 760px) {
  header {
    nav {
      #logo {
        img {
          width: 70px;
        }

        h1 {
          font-size: rem-calc(34);

          width: 100%;
        }
      }

      #navLinks {
        height: calc(100vh - 110px);

        a {
          font-size: rem-calc(24);
        }
      }
    }
  }
}

@media (min-width: 1020px) {
  header {
    nav {
      #logo {
        img {
          width: 75px;
        }

        h1 {
          flex: 1;
        }
      }

      button {
        display: none;
      }

      #navLinks {
        display: flex;
        justify-content: space-around;
        flex: 2;

        position: relative;
        top: auto;
        right: auto;

        width: auto;
        height: auto;

        a {
          display: inline;

          font-size: rem-calc(22);
          text-indent: 0;

          padding: 10px;

          opacity: 1;
        }
      }
    }
  }
}
