<header>
  <nav>
    <img
      id="logoMobile"
      src="../../../assets/imgs/ps2-logo-dark.svg"
      alt="PS2 Blog"
    />
    <img
      id="openMenu"
      src="../../../assets/icons/open-menu.svg"
      alt="Menu"
      (click)="showNav()"
    />
    <div [ngClass]="{ 'show-nav': isShowNav }" id="navLinksMobile">
      <div id="closeMenu">
        <img
          src="../../../assets/icons/close-menu.svg"
          alt="Close Menu"
          (click)="showNav()"
        />
      </div>
      <div id="linksMobile">
        <a routerLink="/post" routerLinkActive="activated"
          >Posts <img src="../../../assets/icons/posts-icon.svg" alt=""
        /></a>
        <a
          routerLink=""
          routerLinkActive="activated"
          [routerLinkActiveOptions]="{ exact: true }"
          >Home <img src="../../../assets/icons/games-icon.svg" alt="" />
        </a>
        <a [routerLink]="['/account', 'NoobNew']" routerLinkActive="activated"
          >Account <img src="../../../assets/icons/account-icon.svg" alt=""
        /></a>
        <a routerLink="/community" routerLinkActive="activated"
          >Community <img src="../../../assets/icons/community-icon.svg" alt=""
        /></a>
      </div>
    </div>
  </nav>
  <aside></aside>
</header>
