@import "../../../../scss/index.scss";

//Formatação
#profileImg {
  background-image: url("../../../../../assets/icons/visor-da-camera-1.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid $primary-link-color;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  width: rem-calc(120);
  height: rem-calc(120);
  margin: auto;

  overflow: hidden;

  img {
    width: 100%;
  }
}
