<form [formGroup]="loginForm" (ngSubmit)="submit()">
  <div class="input-group">
    <label #label for="email">Email</label>
    <input
      #input
      type="email"
      id="email"
      formControlName="email"
      (focus)="onFocus(0)"
      (blur)="onBlur(0)"
    />
  </div>
  <div class="input-group">
    <label #label for="password">Password</label>
    <input
      #input
      [type]="isShowPass ? 'text' : 'password'"
      id="password"
      formControlName="password"
      (focus)="onFocus(1)"
      (blur)="onBlur(1)"
    />
    <img
      id="showPass"
      [src]="imgShowPass"
      alt="Show Pass"
      (click)="showPass()"
    />
  </div>
  <div id="saveData">
    <label for="remember">Remember save</label>
    <input type="checkbox" id="remember" formControlName="remember" />
    <span id="checkbox"></span>
  </div>
  <input
    id="submit"
    type="submit"
    value="Load Save"
    [disabled]="loginForm.invalid"
  />
</form>
