<form [formGroup]="loginForm" (ngSubmit)="submitForm()">
  <div
    [ngClass]="{ invalid: invalidInput('email') || isInvalid['email'] }"
    class="input-group"
  >
    <label #label for="email">Email</label>
    <input
      #input
      id="email"
      type="email"
      formControlName="email"
      (focus)="onFocus(0)"
      (blur)="onBlur(0)"
    />
  </div>
  <p
    [ngClass]="{ invalid: invalidInput('email') || isInvalid['email'] }"
    class="info-input"
  >
    Enter a valid email!
  </p>
  <div
    [ngClass]="{ invalid: invalidInput('password') || isInvalid['password'] }"
    class="input-group"
  >
    <label #label for="password">Password</label>
    <input
      #input
      id="password"
      type="password"
      formControlName="password"
      (focus)="onFocus(1)"
      (blur)="onBlur(1)"
    />
    <img [src]="showPassUrl" alt="Show" (click)="isShowPassword()" />
  </div>
  <p
    [ngClass]="{ invalid: invalidInput('password') || isInvalid['password'] }"
    class="info-input"
  >
    Password cannot be empty!
  </p>
  <input
    [ngClass]="{ disabled: loginForm.invalid }"
    class="submit-form"
    type="submit"
    value="Load save"
    [disabled]="loginForm.invalid"
  />
</form>
