@import "../../../scss/index.scss";

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  max-width: 400px;
  margin: auto;

  .input-group {
    align-self: normal;

    position: relative;

    &.invalid {
      label {
        color: red;
      }

      input {
        border: 1px solid red;

        color: red;

        &:focus {
          outline: none;
        }
      }
    }

    label {
      position: absolute;
      top: 25%;
      left: 10px;

      color: $primary-text-color;
      font-size: rem-calc(16);

      transition: all 300ms ease;
      z-index: 1;
    }

    input {
      background-color: rgba($primary-bg-color, 0.2);
      backdrop-filter: blur(3px);
      border-radius: 0 15px;

      color: $primary-text-color;
      font-size: rem-calc(16);
      letter-spacing: 1px;

      width: 100%;
      padding: 10px;

      outline: none;

      transition: all 300ms ease;

      &#password {
        padding-right: 35px;
      }

      &:focus {
        outline: 1px solid $tertiay-bg-color;
      }
    }

    img {
      position: absolute;
      top: 18%;
      right: 5px;

      width: 22px;

      cursor: pointer;
    }
  }

  .info-input {
    align-self: self-start;

    color: red;
    font-size: rem-calc(14);

    height: 0;

    overflow: hidden;

    transition: all 300ms ease;

    &.invalid {
      height: 25px;
    }
  }

  .submit-form {
    background-color: $secondary-bg-color;
    border-radius: 5px;

    color: $primary-text-color;
    font-size: rem-calc(16);

    width: 50%;
    padding: 12px 0;

    overflow: hidden;
    cursor: pointer;

    transition: all ease 1000ms;

    &.disabled {
      width: 0;
      padding: 12px 0;

      cursor: not-allowed;
    }
  }
}
