@import "../../scss/index.scss";

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;

  min-height: calc(100vh - 55px);
  padding: 20px;

  img {
    flex: 1;

    width: 45%;
    margin: auto;
  }

  p {
    flex: 1;

    text-align: center;
    font-size: rem-calc(14);

    span {
      padding-left: 5px;

      cursor: pointer;
    }
  }
}

@media (min-width: 760px) {
  main {
    height: calc(100vh - 58px);

    img {
      width: 30%;
    }
  }
}

@media (min-width: 1020px) {
  main {
    img {
      width: 15%;
    }
  }
}
