@import "../../scss/index.scss";

main {
  background-color: $primary-bg-color;
  padding: 0;

  #container {
    background-image: url(../../../assets/imgs/ps2.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 2px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

    max-width: 1024px;
    min-height: calc(100vh - 55px);
    margin: auto;
    padding: 20px;

    img {
      flex: 1;

      width: 45%;
      margin: auto;
    }

    p {
      flex: 1;

      color: $primary-text-color;
      text-align: center;
      font-size: rem-calc(14);

      span {
        text-decoration-line: underline;
        text-underline-offset: 3px;

        padding-left: 5px;

        cursor: pointer;
      }
    }
  }
}

@media (min-width: 760px) {
  main {
    #container {
      height: calc(100vh - 58px);

      img {
        width: 30%;
      }
    }
  }
}

@media (min-width: 1020px) {
  main {
    #container {
      img {
        width: 15%;
      }
    }
  }
}
