@import "../../scss/index.scss";

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  #logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 2;
  }
}
