<nav>
  <button id="openNavbar" type="menu" (click)="showNav(navbar)">
    <img src="../../../../assets/icons/open-icon.svg" alt="Menu" />
  </button>
  <h1 id="logoText">PS2 BLOG</h1>
  <img id="logo" src="../../../../assets/imgs/ps2-logo.svg" alt="PS2 Logo" />
  <section id="navbar" #navbar>
    <div id="navbarHead">
      <button id="closeNavbar" type="menu" (click)="closeNav(navbar)">
        <img src="../../../../assets/icons/close-icon.svg" alt="Fechar menu" />
      </button>
    </div>
    <div id="navLinkGroup">
      <a class="navLink" [routerLink]="['/downloads']">
        <span>Downloads</span>
        <img src="../../../../assets/icons/downloads-icon.svg" alt="Baixar" />
      </a>
      <a class="navLink" [routerLink]="['/conta']">
        <span>Conta</span>
        <img src="../../../../assets/icons/conta-icon.svg" alt="Conta" />
      </a>
    </div>
  </section>
</nav>
