$primary-bg-color: linear-gradient(180deg, #01012c 0%, #170128 63.02%);
$secondary-bg-color: #350770;
$tertiary-bg-color: #141317;

$primary-text-color: linear-gradient(
  180deg,
  #6e00fa 0%,
  rgba(74, 5, 160, 0.79) 100%
);
$secondary-text-color: #00fff0;
$tertiary-text-color: #FFFFFF
