<form [formGroup]="cadastro">
  <div>
    <input type="text" placeholder="Usuário" formControlName="user" />
  </div>
  <div>
    <input type="email" placeholder="Email" formControlName="email" />
  </div>
  <div>
    <input type="password" placeholder="Senha" formControlName="password" />
  </div>
  <div>
    <input
      type="password"
      placeholder="Confirme sua Senha"
      formControlName="confPassword"
    />
  </div>
  <input type="submit" value="Start Save" [disabled]="cadastro.invalid" />
</form>
