<div class="card">
  <img src="../../../../../assets/imgs/img-test.png" alt="Postagem" />
  <p class="card-data">12/12/2024 - 12:12</p>
  <p class="card-description">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste officia
    sapiente animi modi! Modi itaque maxime harum, corrupti nihil aspernatur
    quaerat tenetur quasi eligendi aut fuga repellendus natus delectus
    repudiandae optio repellat nobis consectetur! Beatae impedit excepturi nemo
    voluptatem sapiente, cumque, explicabo amet possimus fugiat commodi earum
    exercitationem tenetur totam fuga perspiciatis aliquam blanditiis in
    voluptates eum suscipit recusandae hic eos quas. Libero nobis nostrum,
    accusantium dolorem impedit veniam culpa assumenda. Nesciunt unde error
    harum magnam commodi, officia accusantium animi ex officiis! Placeat nam
    ipsam eum! Quam inventore voluptate voluptas repellendus, pariatur mollitia
    dolorem iure quae facilis officia nemo sequi.
  </p>
  <a class="card-link">Ver mais</a>
</div>
<div class="card">
  <img src="../../../../../assets/imgs/img-test.png" alt="Postagem" />
  <p class="card-data">12/12/2024 - 12:12</p>
  <p class="card-description">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste officia
    sapiente animi modi! Modi itaque maxime harum, corrupti nihil aspernatur
    quaerat tenetur quasi eligendi aut fuga repellendus natus delectus
    repudiandae optio repellat nobis consectetur! Beatae impedit excepturi nemo
    voluptatem sapiente, cumque, explicabo amet possimus fugiat commodi earum
    exercitationem tenetur totam fuga perspiciatis aliquam blanditiis in
    voluptates eum suscipit recusandae hic eos quas. Libero nobis nostrum,
    accusantium dolorem impedit veniam culpa assumenda. Nesciunt unde error
    harum magnam commodi, officia accusantium animi ex officiis! Placeat nam
    ipsam eum! Quam inventore voluptate voluptas repellendus, pariatur mollitia
    dolorem iure quae facilis officia nemo sequi.
  </p>
  <a class="card-link">Ver mais</a>
</div>
<div class="card">
  <img src="../../../../../assets/imgs/img-test.png" alt="Postagem" />
  <p class="card-data">12/12/2024 - 12:12</p>
  <p class="card-description">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste officia
    sapiente animi modi! Modi itaque maxime harum, corrupti nihil aspernatur
    quaerat tenetur quasi eligendi aut fuga repellendus natus delectus
    repudiandae optio repellat nobis consectetur! Beatae impedit excepturi nemo
    voluptatem sapiente, cumque, explicabo amet possimus fugiat commodi earum
    exercitationem tenetur totam fuga perspiciatis aliquam blanditiis in
    voluptates eum suscipit recusandae hic eos quas. Libero nobis nostrum,
    accusantium dolorem impedit veniam culpa assumenda. Nesciunt unde error
    harum magnam commodi, officia accusantium animi ex officiis! Placeat nam
    ipsam eum! Quam inventore voluptate voluptas repellendus, pariatur mollitia
    dolorem iure quae facilis officia nemo sequi.
  </p>
  <a class="card-link">Ver mais</a>
</div>
