@import "../../scss/variaveis.scss";

// Formatação
main {
  background: $primary-bg-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12%;
  height: 100vh;

  h1 {
    background: $primary-text-color;
    background-clip: text;
    color: transparent;

    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1.3px;
  }

  p {
    color: $tertiary-text-color;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 2.5px;

    margin: 0 auto;

    span {
      color: $secondary-text-color;
      text-transform: capitalize;

      cursor: pointer;
    }
  }

  div {
    border-radius: 50px 0 0 50px;
    display: flex;
    align-items: center;
    position: absolute;
    top: 8%;
    right: 0;

    width: max-content;
    padding: 10px;

    &#cardErro {
      border-top: 1px solid red;
      border-bottom: 1px solid red;

      p {
        color: #8B0505;
        font-size: 14px;
        font-weight: 300;
        letter-spacing: 0;

        padding-left: 10px;
      }
    }

    &#cardInvalid {
      border-top: 1px solid $secondary-text-color;
      border-bottom: 1px solid $secondary-text-color;

      p {
        color: $secondary-text-color;
        font-size: 14px;
        font-weight: 300;
        letter-spacing: 0;

        padding-left: 10px;
      }
    }
  }
}
