<main>
  <h1>ps2 blog</h1>
  <!--
    Troca do formulários, se cardForm for true o formulário de login fica ativo, caso contrário, o formulário de cadastro fica ativo.
   -->
  @if (cardForm) {
  <app-form-login></app-form-login>
  <div>
    <p>Esqueceu email ou senha: <span>recuperar save!</span></p>
    <p>Não tem save game: <span (click)="toggleForm()">criar save!</span></p>
  </div>
  } @else {
  <app-form-cadastro></app-form-cadastro>
  <p>Tem save game: <span (click)="toggleForm()">carregar save!</span></p>
  }
</main>
<app-footer></app-footer>
