@if (gameListData) {
<button type="button" (click)="prevPage()" [disabled]="currentPage === 1">
  <img src="../../../assets/icons/arrow-left-icon 1.svg" alt="Voltar página" />
</button>
@for (page of visiblePages(); track $index) {
<button type="button" (click)="goToPage(page)">
  <span>
    {{ page }}
  </span>
</button>
}
<button
  type="button"
  (click)="nextPage()"
  [disabled]="currentPage > gameListData.gameList.totalPages"
>
  <img
    src="../../../assets/icons/arrow-right-icon 1.svg"
    alt="Próxima página"
  />
</button>
}
