@import "../../../scss/index.scss";

:host {
  border: 2px solid $primary-link-color;
  border-radius: 10px;

  display: flex;
  align-items: center;

  width: max-content;
  margin: auto;
  margin-top: 30px;

  button {
    background: none;
    border: none;

    display: flex;
    align-items: center;

    padding: 2px 20px;

    &:first-child {
      border-right: 2px solid $primary-link-color;
    }

    &:last-child {
      border-left: 2px solid $primary-link-color;
    }

    span {
      color: $secondary-text-color;
      font-size: rem-calc(20);
    }

    img {
      width: 40px;
    }
  }
}
