@if (gameList) { @for (game of gameList.gameList.games; track $index) {
<div class="gameCard">
  <img src="../../../../assets/imgs/game-card.png" [alt]="game.gameName" />
  <div class="gameInfo">
    <p class="gameName">{{ game.gameName }}</p>
    <p class="gameSize">Tamanho: {{ game.size }}</p>
  </div>
  <a [href]="game.href">
    <span>Baixar ISO</span>
    <button type="button">
      <img
        src="../../../../assets/icons/download-iso-icon.svg"
        alt="Baixar game"
      />
    </button>
  </a>
  <div class="border"></div>
</div>
} }
