@if (gameList && gameList.gameList.games.length !== 0) { @for (game of
gameList.gameList.games; track $index) {
<div class="gameCard">
  <img src="../../../../assets/imgs/game-card.png" [alt]="game.gameName" />
  <div class="gameInfo">
    <p class="gameName">{{ game.gameName }}</p>
    <p class="gameSize">Tamanho: {{ game.size }}</p>
  </div>
  <a [href]="game.href">
    <span>Baixar ISO</span>
    <button type="button">
      <img
        src="../../../../assets/icons/download-iso-icon.svg"
        alt="Baixar game"
      />
    </button>
  </a>
  <div class="border"></div>
</div>
} }@else {
<div id="notFound">
  <img src="../../../../assets/imgs/not-found.svg" alt="Erro de dados" />
  @if (gameList && gameList.gameList.games.length === 0) {
  <p>Nenhum jogo encontrado!</p>
  <p>Verifique o nome ou as iniciais e tente novamente!</p>
  } @else {
  <p>Não foi possível recuperar a lista!</p>
  <p>Tente novamente mais tarde!</p>
  }
</div>
}
