<div class="game-card">
  <div class="card-img">
    <img src="../../../../assets/imgs/image-game.svg" alt="PS2 Game" />
  </div>
  <div class="card-info">
    <p class="game-name">Game Name</p>
    <p class="game-size">Size: 1.5G</p>
  </div>
  <a href="#" class="game-link">Download</a>
</div>
<div class="game-card">
  <div class="card-img">
    <img src="../../../../assets/imgs/image-game.svg" alt="PS2 Game" />
  </div>
  <div class="card-info">
    <p class="game-name">Game Name</p>
    <p class="game-size">Size: 1.5G</p>
  </div>
  <a href="#" class="game-link">Download</a>
</div>
<div class="game-card">
  <div class="card-img">
    <img src="../../../../assets/imgs/image-game.svg" alt="PS2 Game" />
  </div>
  <div class="card-info">
    <p class="game-name">Game Name</p>
    <p class="game-size">Size: 1.5G</p>
  </div>
  <a href="#" class="game-link">Download</a>
</div>
<div class="game-card">
  <div class="card-img">
    <img src="../../../../assets/imgs/image-game.svg" alt="PS2 Game" />
  </div>
  <div class="card-info">
    <p class="game-name">Game Name</p>
    <p class="game-size">Size: 1.5G</p>
  </div>
  <a href="#" class="game-link">Download</a>
</div>
