@import "../../../scss/index.scss";

.gameCard {
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }

  img {
    border: 2px solid $primary-link-color;
    border-radius: 25px;

    width: 100%;
  }

  .gameInfo {
    margin: 15px 0;

    .gameName {
      color: $secondary-text-color;
      font-size: rem-calc(20);
      letter-spacing: 1px;

      margin-bottom: 10px;
    }

    .gameSize {
      color: $secondary-text-color;
      font-size: rem-calc(16);
      text-decoration-line: underline;
      text-decoration-style: dotted;
      text-underline-offset: 3px;
      letter-spacing: 0.8px;
    }
  }

  a {
    border: 2px solid $primary-link-color;
    border-radius: 18px;

    display: flex;
    justify-content: center;
    gap: 10px;

    text-decoration-line: none;

    width: max-content;
    margin: 30px auto;
    padding: 20px 15px;

    span {
      color: $secondary-text-color;
      font-size: rem-calc(22);
      font-weight: 700;
    }

    button {
      background: none;
      border: none;

      img {
        border: none;
      }
    }
  }

  .border {
    background: $primary-link-color;
    border-radius: 50px;

    height: 4px;
  }
}

@media (min-width: 480px) {
  :host {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

@media (min-width: 770px) {
  :host {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1030px) {
  :host {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1445px) {
  :host {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
}
