// Cores principais de backgrounds.
$primary-bg-color: linear-gradient(180deg, #01012c 0%, #170128 63.02%);
$secondary-bg-color: #350770;
$tertiary-bg-color: #141317;

// Cores principais de texto.
$primary-text-color: linear-gradient(180deg, #6e00fa 0%, #4a05a0c9 100%);
$secondary-text-color: #00fff0;
$tertiary-text-color: #8346d0ab;

// Cores de links
$primary-link-color: #7f00ff;
