$primary-bg-color: #4c5bac;
$secondary-bg-color: #222030;
$tertiay-bg-color: #6090a1;

$primary-text-color: $tertiay-bg-color;
$seconday-text-color: $primary-bg-color;
$tertiary-text-color: $secondary-bg-color;
