<div class="card">
  <img src="../../../../../assets/imgs/img-test.png" alt="Nome do Jogo" />
  <p class="card-name">Nome do Game</p>
  <p class="card-category">Nome da categoria</p>
  <p class="card-description">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus ex
    perferendis enim distinctio excepturi iure ratione rem qui, nemo nam
    laboriosam sed? Eum maxime, perferendis, vitae similique nulla, quidem iure
    alias nisi culpa ex dignissimos. Veniam quasi voluptas magnam placeat dolor,
    dicta nostrum tempore facilis delectus assumenda ad eligendi repellat
    temporibus harum cupiditate ratione amet, quidem eaque iure ea asperiores
    nobis animi dolore unde. Sequi corrupti dolor in ea voluptatem quibusdam
    aspernatur error vero porro, reiciendis facere, a, necessitatibus rerum id
    non asperiores fugiat at ducimus quia incidunt sit accusantium hic aliquam?
    Quasi laboriosam nisi rerum vel eum culpa quibusdam?
  </p>
  <button type="button" class="card-download">
    <span>Baixar ISO</span>
    <img src="../../../../../assets/icons/download-iso-icon.svg" alt="Baixar" />
  </button>
  <div class="line-card"></div>
</div>
<div class="card">
  <img src="../../../../../assets/imgs/img-test.png" alt="Nome do Jogo" />
  <p class="card-name">Nome do Game</p>
  <p class="card-category">Nome da categoria</p>
  <p class="card-description">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus ex
    perferendis enim distinctio excepturi iure ratione rem qui, nemo nam
    laboriosam sed? Eum maxime, perferendis, vitae similique nulla, quidem iure
    alias nisi culpa ex dignissimos. Veniam quasi voluptas magnam placeat dolor,
    dicta nostrum tempore facilis delectus assumenda ad eligendi repellat
    temporibus harum cupiditate ratione amet, quidem eaque iure ea asperiores
    nobis animi dolore unde. Sequi corrupti dolor in ea voluptatem quibusdam
    aspernatur error vero porro, reiciendis facere, a, necessitatibus rerum id
    non asperiores fugiat at ducimus quia incidunt sit accusantium hic aliquam?
    Quasi laboriosam nisi rerum vel eum culpa quibusdam?
  </p>
  <button type="button" class="card-download">
    <span>Baixar ISO</span>
    <img src="../../../../../assets/icons/download-iso-icon.svg" alt="Baixar" />
  </button>
  <div class="line-card"></div>
</div>
<div class="card">
  <img src="../../../../../assets/imgs/img-test.png" alt="Nome do Jogo" />
  <p class="card-name">Nome do Game</p>
  <p class="card-category">Nome da categoria</p>
  <p class="card-description">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus ex
    perferendis enim distinctio excepturi iure ratione rem qui, nemo nam
    laboriosam sed? Eum maxime, perferendis, vitae similique nulla, quidem iure
    alias nisi culpa ex dignissimos. Veniam quasi voluptas magnam placeat dolor,
    dicta nostrum tempore facilis delectus assumenda ad eligendi repellat
    temporibus harum cupiditate ratione amet, quidem eaque iure ea asperiores
    nobis animi dolore unde. Sequi corrupti dolor in ea voluptatem quibusdam
    aspernatur error vero porro, reiciendis facere, a, necessitatibus rerum id
    non asperiores fugiat at ducimus quia incidunt sit accusantium hic aliquam?
    Quasi laboriosam nisi rerum vel eum culpa quibusdam?
  </p>
  <button type="button" class="card-download">
    <span>Baixar ISO</span>
    <img src="../../../../../assets/icons/download-iso-icon.svg" alt="Baixar" />
  </button>
  <div class="line-card"></div>
</div>
