<form [formGroup]="login">
  <div id="divEmail">
    <input
      type="email"
      placeholder="Email"
      formControlName="email"
      autocomplete="off"
    />
  </div>
  <div id="divPassword">
    <input type="password" placeholder="Senha" formControlName="password" />
  </div>
  <div id="divSaveUser">
    <label for="saveUser">
      <input type="checkbox" id="saveUser" formControlName="saveUser" />
      <span></span>
      Salvar minhas credênciais
    </label>
  </div>
  <input type="submit" value="Start Game" [disabled]="login.invalid" />
</form>
