@import "../../scss/index.scss";

main {
  #search {
    max-width: 400px;
    margin: auto;

    #searchGames {
      position: relative;

      width: 76px;
      margin: auto;

      transition: all 500ms ease;

      &.show-search {
        width: 100%;

        img {
          transform: rotate(360deg);
        }
      }

      input {
        background-color: rgba($secondary-bg-color, 20%);
        border: 1px solid $primary-bg-color;
        backdrop-filter: blur(4px);
        border-radius: 20px;

        color: $secondary-text-color;
        font-size: rem-calc(12);
        font-weight: bold;

        width: 100%;
        padding: 10px;
        padding-right: 35px;

        &::placeholder {
          color: $secondary-text-color;
          font-weight: normal;
        }

        &::-webkit-search-cancel-button {
          display: none;
        }

        &:focus {
          outline: 1px solid $primary-bg-color;
        }
      }

      img {
        position: absolute;
        top: 16%;
        right: 10px;

        transition: all 500ms ease;
      }
    }
  }

  #gamesCards {
    padding: 20px 0;
  }

  #pagination {
    background-color: rgba($secondary-bg-color, 35%);
    backdrop-filter: blur(4px);
    border: 2px solid $primary-bg-color;
    border-radius: 10px;

    display: flex;
    align-items: center;
    gap: 15px;

    width: max-content;
    margin: auto;

    padding: 5px 10px;

    img {
      cursor: pointer;

      &:nth-last-child(1) {
        transform: rotate(180deg) scaleY(-1);
      }

      &.disabled {
        opacity: 0.5;

        cursor: not-allowed;
      }
    }

    span {
      position: relative;
      top: 2px;

      font-size: rem-calc(16);

      cursor: pointer;

      &.activated-page {
        color: $primary-text-color;
      }
    }
  }

  @media (min-width: 760px) {
    #pagination {
      img {
        width: 25px;
      }

      span {
        font-size: rem-calc(18);
      }
    }
  }

  @media (min-width: 1024px) {
    #search {
      #searchGames {
        width: 86px;

        input {
          font-size: rem-calc(16);
        }
      }
    }

    #gamesCards {
      padding-left: 76px;
    }
  }

  @media (min-width: 1166px) {
    #gamesCards {
      padding-left: 0;
    }
  }
}
