<main>
  <section id="search">
    <form
      [formGroup]="search"
      [ngClass]="{ 'show-search': isShow }"
      id="searchGames"
      (ngSubmit)="searchGame()"
    >
      <input
        type="search"
        placeholder="Start your immersion"
        formControlName="game"
        (focus)="searchFocus()"
        (blur)="searchBlur()"
      />
      <img src="../../../assets/icons/search-icon.svg" alt="Search" />
    </form>
  </section>
  @if (totalDocs) {
  <section id="pagination">
    <img
      [ngClass]="{ disabled: !prevPage }"
      src="../../../assets/icons/pagination-icon.svg"
      alt="Prev"
      (click)="prevPage ? togglePage(prevPage) : undefined"
    />
    @for (page of pagination(); track $index) {
    <span
      [ngClass]="{ 'activated-page': currentPage == page }"
      (click)="togglePage(page)"
      >{{ page }}</span
    >
    }
    <img
      [ngClass]="{ disabled: !nextPage }"
      src="../../../assets/icons/pagination-icon.svg"
      alt="Next"
      (click)="nextPage ? togglePage(nextPage) : undefined"
    />
  </section>
  }
  <section id="gamesCards">
    <app-game-card [list]="gameList"></app-game-card>
  </section>
  @if (totalDocs) {
  <section id="pagination">
    <img
      [ngClass]="{ disabled: !prevPage }"
      src="../../../assets/icons/pagination-icon.svg"
      alt="Prev"
      (click)="prevPage ? togglePage(prevPage) : undefined"
    />
    @for (page of pagination(); track $index) {
    <span
      [ngClass]="{ 'activated-page': currentPage == page }"
      (click)="togglePage(page)"
      >{{ page }}</span
    >
    }
    <img
      [ngClass]="{ disabled: !nextPage }"
      src="../../../assets/icons/pagination-icon.svg"
      alt="Next"
      (click)="nextPage ? togglePage(nextPage) : undefined"
    />
  </section>
  }
</main>
