<app-navbar></app-navbar>
<main>
  <section id="searchGames">
    <input type="search" placeholder="Start the immersion..." />
    <img src="../../../assets/icons/search-icon.svg" alt="Search" />
  </section>
  <section id="gamesCards">
    <app-games-cards></app-games-cards>
  </section>
  <div id="pagination">
    <img src="../../../assets/icons/arrow-icon.svg" alt="Before" />
    <span>1</span>
    <span>2</span>
    <span>3</span>
    <img src="../../../assets/icons/arrow-icon.svg" alt="After" />
  </div>
</main>
<!-- <app-footer></app-footer> -->
