@import "../../scss/index.scss";

main {
  #search {
    max-width: 400px;
    margin: auto;

    #searchGames {
      position: relative;

      width: 76px;
      margin: auto;

      transition: all 500ms ease;

      &.show-search {
        width: 100%;

        img {
          transform: rotate(360deg);
        }
      }

      input {
        background-color: rgba($secondary-bg-color, 20%);
        border: 1px solid $primary-bg-color;
        backdrop-filter: blur(4px);
        border-radius: 20px;

        color: $secondary-text-color;
        font-size: rem-calc(12);
        font-weight: bold;

        width: 100%;
        padding: 10px;
        padding-right: 35px;

        &::placeholder {
          color: $secondary-text-color;
          font-weight: normal;
        }

        &::-webkit-search-cancel-button {
          display: none;
        }

        &:focus {
          outline: 1px solid $primary-bg-color;
        }
      }

      img {
        position: absolute;
        top: 16%;
        right: 10px;

        transition: all 500ms ease;
      }
    }
  }

  #gamesCards {
    padding: 20px 0;
  }
}
