@import "../../../scss/index.scss";

@keyframes showInputs {
  to {
    left: 0;
  }
}

@keyframes showLabels {
  to {
    top: 25%;
    left: 10px;

    opacity: 1;
    rotate: 0deg;
  }
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  .input-group {
    align-self: normal;

    position: relative;

    &.hidden {
      left: -300px;

      animation: showInputs 1000ms 200ms ease forwards;

      label {
        top: -55%;
        left: -30px;

        opacity: 0;
        rotate: -30deg;

        animation: showLabels 500ms 1205ms ease forwards;
      }
    }

    label {
      position: absolute;
      top: 25%;
      left: 10px;

      font-size: rem-calc(16);

      transition: all 300ms ease;
    }

    input {
      border: 1px solid;
      border-radius: 0 15px;

      font-size: rem-calc(16);
      letter-spacing: 1px;

      width: 100%;
      padding: 10px;

      outline: none;

      &[type="password"] {
        padding-right: 30px;
      }
    }

    img {
      position: absolute;
      top: 25%;
      right: 5px;

      width: 22px;
    }
  }

  .submit-form {
    border: 1px solid;
    border-radius: 5px;

    font-size: rem-calc(16);

    width: 50%;
    padding: 12px 0;

    overflow: hidden;

    transition: all ease 1000ms;

    &.disabled {
      width: 0;
      padding: 12px 0;
    }
  }
}
