<form [formGroup]="registerForm" (ngSubmit)="sendForm()">
  <div class="input-group">
    <label #label for="userName">Usuário</label>
    <input
      #input
      id="userName"
      type="text"
      formControlName="userName"
      (focus)="onFocus(0)"
      (blur)="onBlur(0)"
    />
  </div>
  <div class="input-group">
    <label #label for="email">Email</label>
    <input
      #input
      id="email"
      type="email"
      formControlName="email"
      (focus)="onFocus(1)"
      (blur)="onBlur(1)"
    />
  </div>
  <div class="input-group">
    <label #label for="password">Senha</label>
    <input
      #input
      id="password"
      type="password"
      formControlName="password"
      (focus)="onFocus(2)"
      (blur)="onBlur(2)"
    />
  </div>
  <div class="input-group">
    <label #label for="passwordConf">Confirme sua Senha</label>
    <input
      #input
      id="passwordConf"
      type="password"
      formControlName="passwordConf"
      (focus)="onFocus(3)"
      (blur)="onBlur(3)"
    />
  </div>
  <input type="submit" value="Criar Save" [disabled]="registerForm.invalid" />
</form>
