@import "../../../scss/index.scss";

@keyframes showInputs {
  to {
    left: 0;

    opacity: 1;
  }
}

@keyframes showLabels {
  to {
    top: 25%;
    left: 10px;

    opacity: 1;
    rotate: 0deg;
  }
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  max-width: 400px;
  margin: auto;

  .input-group {
    align-self: normal;

    position: relative;

    &.hidden {
      left: -300px;

      opacity: 0;

      animation: showInputs 1000ms 200ms ease forwards;

      label {
        top: -55%;
        left: -30px;

        opacity: 0;
        rotate: -30deg;

        animation: showLabels 500ms 1205ms ease forwards;
      }
    }

    &.invalid {
      label {
        color: red;
      }

      input {
        border: 1px solid red;

        color: red;

        &:focus {
          outline: none;
        }
      }

      p {
        height: 34px;
      }
    }

    label {
      position: absolute;
      top: 25%;
      left: 10px;

      color: $primary-text-color;
      font-size: rem-calc(16);

      transition: all 300ms ease;
      z-index: 1;
    }

    input {
      background-color: rgba($primary-bg-color, 0.2);
      backdrop-filter: blur(3px);
      border-radius: 0 15px;

      color: $primary-text-color;
      font-size: rem-calc(16);
      letter-spacing: 1px;

      width: 100%;
      padding: 10px;

      outline: none;

      &#password {
        padding-right: 35px;
      }

      &:focus {
        outline: 1px solid $tertiay-bg-color;
      }
    }

    img {
      position: absolute;
      top: 18%;
      right: 5px;

      width: 22px;

      cursor: pointer;
    }

    p {
      color: red;
      font-size: rem-calc(12);

      height: 0;
      padding-top: 5px;

      overflow: hidden;

      transition: all 500ms ease;
    }
  }

  .submit-form {
    background-color: $secondary-bg-color;
    border-radius: 5px;

    color: $primary-text-color;
    font-size: rem-calc(16);

    width: 50%;
    padding: 12px 0;

    overflow: hidden;
    cursor: pointer;

    transition: all ease 1000ms;

    &.disabled {
      width: 0;
      padding: 12px 0;

      cursor: not-allowed;
    }
  }
}
