<form [formGroup]="registerForm" (ngSubmit)="submit()">
  <div class="input-group">
    <label #label for="username">Player name</label>
    <input
      #input
      type="text"
      id="username"
      formControlName="username"
      (focus)="onFocus(0)"
      (blur)="onBlur(0)"
    />
  </div>
  <div class="input-group">
    <label #label for="email">Email</label>
    <input
      #input
      type="email"
      id="email"
      formControlName="email"
      (focus)="onFocus(1)"
      (blur)="onBlur(1)"
    />
  </div>
  <div class="input-group">
    <label #label for="password">Password</label>
    <input
      #input
      [type]="isShowPass ? 'text' : 'password'"
      id="password"
      formControlName="password"
      (focus)="onFocus(2)"
      (blur)="onBlur(2)"
    />
    <img
      id="showPass"
      [src]="imgShowPass"
      alt="Show Pass"
      (click)="showPass()"
    />
  </div>
  <div class="input-group">
    <label #label for="confPassword">Confirm Password</label>
    <input
      #input
      type="password"
      id="confPassword"
      formControlName="confPassword"
      (focus)="onFocus(3)"
      (blur)="onBlur(3)"
    />
  </div>
  <input
    #input
    id="submit"
    type="submit"
    value="Create Save"
    [disabled]="registerForm.invalid"
  />
</form>
