<form [formGroup]="registerForm" (ngSubmit)="submitForm()">
  <div
    #div
    [ngClass]="{ invalid: invalidInput('username') || isInvalid['emptyUser'] }"
    class="input-group hidden"
  >
    <label #label for="user">User</label>
    <input
      #input
      id="user"
      type="text"
      formControlName="username"
      (focus)="onFocus(0)"
      (blur)="onBlur(0)"
    />
  </div>
  <p
    [ngClass]="{ invalid: invalidInput('username') || isInvalid['emptyUser'] }"
    class="info-input"
  >
    Username must be a minimum of 5 and a maximum of 16 characters. And cannot
    be empty!
  </p>
  <div
    #div
    [ngClass]="{ invalid: invalidInput('email') || isInvalid['email'] }"
    class="input-group"
  >
    <label #label for="email">Email</label>
    <input
      #input
      id="email"
      type="email"
      formControlName="email"
      (focus)="onFocus(1)"
      (blur)="onBlur(1)"
    />
  </div>
  <p
    [ngClass]="{ invalid: invalidInput('email') || isInvalid['email'] }"
    class="info-input"
  >
    Enter a valid email!
  </p>
  <div
    #div
    [ngClass]="{ invalid: invalidInput('password') || isInvalid['emptyPass'] }"
    class="input-group"
  >
    <label #label for="password">Password</label>
    <input
      #input
      id="password"
      type="password"
      formControlName="password"
      (focus)="onFocus(2)"
      (blur)="onBlur(2)"
    />
    <img [src]="showPassUrl" alt="Show" (click)="isShowPassword()" />
  </div>
  <p
    [ngClass]="{ invalid: invalidInput('password') || isInvalid['emptyPass'] }"
    class="info-input"
  >
    Password must have a minimum of 8 and a maximum of 16 characters. And cannot
    be empty!
  </p>
  <div
    #div
    [ngClass]="{
      invalid: invalidInput('confPassword') || isInvalid['confPassword']
    }"
    class="input-group hidden"
  >
    <label #label for="confPassword">Confirm password</label>
    <input
      #input
      id="confPassword"
      type="password"
      formControlName="confPassword"
      (focus)="onFocus(3)"
      (blur)="onBlur(3)"
    />
  </div>
  <p
    [ngClass]="{
      invalid: invalidInput('confPassword') || isInvalid['confPassword']
    }"
    class="info-input"
  >
    {{
      isInvalid["confPassword"]
        ? "Passwords must be the same!"
        : "Can not be empty!"
    }}
  </p>
  <input
    [ngClass]="{ disabled: registerForm.invalid }"
    class="submit-form"
    type="submit"
    value="Create Save"
    [disabled]="registerForm.invalid"
  />
</form>
