<form [formGroup]="formLogin" class="showForm" (ngSubmit)="login()">
  <!--
    Input de email.
   -->
  <div>
    <input
      #input
      (focus)="onFocus(0)"
      (blur)="onBlur(0)"
      type="email"
      id="email"
      formControlName="email"
    />
    <label #label for="email"> Email </label>
  </div>
  <!--
    Input da senha.
   -->
  <div>
    <input
      #input
      (focus)="onFocus(1)"
      (blur)="onBlur(1)"
      type="password"
      id="password"
      formControlName="password"
    />
    <label #label for="password"> Senha </label>
  </div>
  <!--
    Input para salvar crendências.
   -->
  <div>
    <input
      type="checkbox"
      id="userSave"
      value="cookies"
      formControlName="userSave"
    />
    <!--
      Checkbox personalizada.
     -->
    <span></span>
    <label for="userSave"> Carregar meu save automaticamente. </label>
  </div>
  <!--
    Input de envio do formulário.
   -->
  <input type="submit" value="start game" [disabled]="formLogin.invalid" />
</form>
