@import "../../../scss/index.scss";

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  max-width: rem-calc(290);
  margin: auto;

  input[type="submit"] {
    background: rgba($secondary-bg-color, 0.1);
    border: 0;
    border-bottom: rem-calc(1) solid $secondary-text-color;
    border-radius: rem-calc(50);

    color: $secondary-text-color;
    font-size: rem-calc(16);
    text-transform: capitalize;
    letter-spacing: rem-calc(3);

    padding: rem-calc(10);
    margin-bottom: rem-calc(16);

    cursor: pointer;

    &[disabled] {
      opacity: 0.2;

      cursor: not-allowed;
    }
  }

  div {
    position: relative;

    width: 100%;

    margin-bottom: rem-calc(16);
    label {
      &[for="password"],
      &[for="confPassword"],
      &[for="email"],
      &[for="user"] {
        position: absolute;
        top: 25%;
        left: rem-calc(20);

        color: $secondary-text-color;
        font-size: rem-calc(14);

        transition: 400ms ease;
      }
    }

    input {
      &[type="email"],
      &[type="password"],
      &[type="text"] {
        border: 0;
        background: rgba($secondary-bg-color, 0.1);
        border-radius: rem-calc(50);

        color: $secondary-text-color;
        font-size: rem-calc(12);

        width: 100%;
        height: rem-calc(40);
        padding-left: rem-calc(20);
      }

      &:focus {
        outline: none;
        border: 1px solid $secondary-text-color;
      }
    }
  }
}
