@import "../../../scss/index.scss";

// Formatação
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8%;

  height: calc(100vh - rem-calc(79));

  section {
    &#logo {
      display: flex;
      align-items: center;
      justify-content: center;

      h1 {
        background: $primary-text-color;
        background-clip: text;

        color: transparent;
        text-transform: uppercase;
        font-size: rem-calc(32);
        font-weight: 700;
        letter-spacing: rem-calc(2);

        margin-right: rem-calc(18);
      }
    }

    &#forms {
      p {
        color: $tertiary-text-color;
        font-size: rem-calc(12);
        text-align: center;

        margin-top: rem-calc(20);

        span {
          color: $secondary-text-color;

          cursor: pointer;
        }
      }
    }
  }
}
