<app-nav-bar></app-nav-bar>
<main>
  <form id="gameSearch" [formGroup]="searchGame" (ngSubmit)="getGameListData()">
    <input
      type="search"
      placeholder="Pesquise pelo título ou insira inciais..."
      formControlName="name"
    />
    <button type="submit">
      <img src="../../../assets/icons/search-icon.svg" alt="Pesquisar" />
    </button>
  </form>
  @if (info) {
  <section id="infoCard">
    <app-info-card [infoMessage]="info"></app-info-card>
  </section>
  }
  <section id="gameListData">
    <div id="showData">
      <p>Resultados</p>
      <img
        #img
        src="../../../assets/icons/dropdown.svg"
        alt="Exibir"
        (click)="showResults(img, data)"
      />
    </div>
    <div #data id="data">
      @if (gameListData) {
      <p>
        Games: <span>{{ gameListData.gameList.totalDocs }}.</span>
      </p>
      <p>
        Páginas: <span>{{ gameListData.gameList.totalPages }}.</span>
      </p>
      } @else {
      <img src="" alt="Erro de dados!" />
      }
    </div>
  </section>
  <section id="gameCard">
    <app-game-card [query]="query"></app-game-card>
  </section>
  <section id="pagenation">
    <app-game-card-pagination
      [gameName]="gameName"
      (sendQuery)="sendQuey($event)"
    ></app-game-card-pagination>
  </section>
</main>
<app-footer></app-footer>
