@import "app/scss/index.scss";

@font-face {
  font-family: Jura;
  src: url("assets/fonts/Jura-font.woff");
}

* {
  font-family: Jura;

  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

::-webkit-scrollbar {
  background: $primary-bg-color;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: $secondary-text-color;
  border-radius: 50px;
}

body {
  background: $primary-bg-color;

  max-width: 1920px;
  margin: auto;
}
