@import "./app/scss/index.scss";

@font-face {
  font-family: Manjari;
  src: url(./assets/fonts/Manjari-Thin.woff);
  font-weight: 100;
}

@font-face {
  font-family: Manjari;
  src: url(./assets/fonts/Manjari-Regular.woff);
  font-weight: normal;
}

@font-face {
  font-family: Manjari;
  src: url(./assets/fonts/Manjari-Bold.woff);
  font-weight: bold;
}

* {
  border: 0;

  font-family: Manjari;

  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

::-webkit-scrollbar {
  background-color: rgba($primary-bg-color, 25%);
  backdrop-filter: blur(2px);
  border-radius: 50px;

  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba($secondary-bg-color, 38%);
  border-radius: 50px;
}

body {
  background-image: url(./assets/imgs/background.webp);
  background-position: 45%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  &::-webkit-scrollbar {
    background-color: $primary-bg-color;
    backdrop-filter: blur(2px);
    border-radius: 0px;

    width: 12px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $secondary-bg-color;
    border-radius: 50px;
  }
}

main {
  max-width: 1024px;
  min-height: calc(100vh - 172px);
  margin: auto;
  padding: 20px;
}
