<form [formGroup]="updateProfile" (ngSubmit)="submitProfile()">
  <div class="input-group">
    <label for="username">User:</label>
    <input
      type="text"
      id="username"
      formControlName="user"
      [readOnly]="!isEditProfile"
    />
  </div>
  <div class="input-group">
    <label for="email">Email:</label>
    <input
      type="email"
      id="email"
      formControlName="email"
      [readOnly]="!isEditProfile"
    />
  </div>
  <div class="input-group">
    <label for="password">Password:</label>
    <input
      #input
      type="password"
      id="password"
      formControlName="password"
      [readOnly]="!isEditProfile"
    />
    <img [src]="ShowPassUrl" alt="show" (click)="showPass()" />
  </div>
  <button
    id="sendProfile"
    [ngClass]="{ disabled: updateProfile.invalid || !isEditProfile }"
    type="submit"
    [disabled]="updateProfile.invalid"
  >
    <img src="../../../../assets/icons/accept.icon.svg" alt="Send" />
  </button>
  <button
    [ngClass]="{ editing: isEditProfile }"
    id="editProfile"
    type="button"
    (click)="editProfile()"
  >
    <img src="../../../../assets/icons/edit-icon.svg" alt="Edit" />
  </button>
</form>
