@import "../../../scss/index.scss";

form {
  display: flex;
  flex-direction: column;
  gap: 20px;

  position: relative;

  .input-group {
    border-bottom: 1px solid;

    display: flex;
    align-items: center;

    position: relative;

    label {
      position: absolute;

      font-size: rem-calc(14);

      transition: all 500ms ease;

      &.hidden-label {
        opacity: 0;

        transform: rotate(-50deg) translate(-8px, -20px);
      }
    }

    input {
      width: 100%;
      padding: 10px;
      padding-left: 46px;

      outline: none;

      transition: padding 500ms ease;

      &.edit-input {
        padding-left: 10px;
      }

      &[type="password"] {
        padding-left: 74px;
        padding-right: 24px;

        &.edit-input {
          padding-left: 10px;
        }
      }
    }

    img {
      position: absolute;
      top: 18%;
      right: 0;

      width: 0;

      transition: width 500ms ease;

      &.show-pass {
        width: 24px;
      }
    }
  }

  #sendProfile {
    width: 42px;
    margin: auto;

    overflow: hidden;

    transition: width 500ms ease;

    &.disabled {
      width: 0;
    }

    img {
      border-radius: 50%;
      padding: 5px;

      object-fit: cover;
      aspect-ratio: 1/1;
    }
  }
}

#editProfile {
  width: 45px;

  position: absolute;
  left: 42%;
  bottom: 0;

  overflow: hidden;

  transition: width 500ms ease;

  &.editing {
    width: 0;
  }

  img {
    border-radius: 10px;

    width: 45px;
    padding: 2px;
  }
}
