<form
  #form
  [ngClass]="{ 'show-form': isShowForm }"
  [formGroup]="updateProfile"
  (ngSubmit)="submitProfile()"
>
  <div class="input-group">
    <label [ngClass]="{ 'hidden-label': isEditProfile }" for="username"
      >User:</label
    >
    <input
      [ngClass]="{
        'edit-input': isEditProfile,
        invalid: invalidInput('username') || isInvalid['username']
      }"
      type="text"
      id="username"
      [value]="userData ? userData.username : 'Not Found...'"
      formControlName="username"
      [readOnly]="!isEditProfile"
    />
  </div>
  <p
    [ngClass]="{
      'edit-input': isEditProfile,
      invalid: invalidInput('username') || isInvalid['username']
    }"
    class="info-input"
  >
    Username must be a minimum of 5 and a maximum of 16 characters. And cannot
    be empty!
  </p>
  <div class="input-group">
    <label [ngClass]="{ 'hidden-label': isEditProfile }" for="email"
      >Email:</label
    >
    <input
      [ngClass]="{
        'edit-input': isEditProfile,
        invalid: invalidInput('email') || isInvalid['email']
      }"
      type="email"
      id="email"
      [value]="userData ? userData.email : 'Not Found...'"
      formControlName="email"
      [readOnly]="!isEditProfile"
    />
  </div>
  <p
    [ngClass]="{
      'edit-input': isEditProfile,
      invalid: invalidInput('email') || isInvalid['email']
    }"
    class="info-input"
  >
    Enter a valid Email!
  </p>
  <div class="input-group">
    <label [ngClass]="{ 'hidden-label': isEditProfile }" for="inputBio"
      >Bio:</label
    >
    <textarea
      [ngClass]="{
        'edit-input': isEditProfile,
        invalid: invalidInput('bio') || isInvalid['bio']
      }"
      id="inputBio"
      [value]="userData ? userData.bio : 'Not Found...'"
      formControlName="bio"
      [readOnly]="!isEditProfile"
      rows="1"
    ></textarea>
  </div>
  <p
    [ngClass]="{
      'edit-input': isEditProfile,
      invalid: invalidInput('bio') || isInvalid['bio']
    }"
    class="info-input"
  >
    Bio can only have a maximum of 500 characters. and it cannot be empty!
  </p>
  <button
    id="sendProfile"
    [ngClass]="{ disabled: updateProfile.invalid || !isEditProfile }"
    type="submit"
    [disabled]="updateProfile.invalid"
  >
    <img src="../../../../assets/icons/accept.icon.svg" alt="Send" />
  </button>
  <button
    [ngClass]="{ editing: isEditProfile, disabled: !userData }"
    id="editProfile"
    type="button"
    [disabled]="!userData"
    (click)="editProfile()"
  >
    <img src="../../../../assets/icons/edit-icon.svg" alt="Edit" />
  </button>
</form>
