<form [formGroup]="updateProfile" (ngSubmit)="submitProfile()">
  <div class="input-group">
    <label [ngClass]="{ 'hidden-label': isEditProfile }" for="username"
      >User:</label
    >
    <input
      [ngClass]="{ 'edit-input': isEditProfile }"
      type="text"
      id="username"
      formControlName="user"
      [readOnly]="!isEditProfile"
    />
  </div>
  <div class="input-group">
    <label [ngClass]="{ 'hidden-label': isEditProfile }" for="email"
      >Email:</label
    >
    <input
      [ngClass]="{ 'edit-input': isEditProfile }"
      type="email"
      id="email"
      formControlName="email"
      [readOnly]="!isEditProfile"
    />
  </div>
  <div class="input-group">
    <label [ngClass]="{ 'hidden-label': isEditProfile }" for="password"
      >Password:</label
    >
    <input
      #input
      [ngClass]="{ 'edit-input': isEditProfile }"
      type="password"
      id="password"
      formControlName="password"
      [readOnly]="!isEditProfile"
    />
    <img
      [ngClass]="{ 'show-pass': isEditProfile }"
      [src]="ShowPassUrl"
      alt="show"
      (click)="showPass()"
    />
  </div>
  <button
    id="sendProfile"
    [ngClass]="{ disabled: updateProfile.invalid || !isEditProfile }"
    type="submit"
    [disabled]="updateProfile.invalid"
  >
    <img src="../../../../assets/icons/accept.icon.svg" alt="Send" />
  </button>
  <button
    [ngClass]="{ editing: isEditProfile }"
    id="editProfile"
    type="button"
    (click)="editProfile()"
  >
    <img src="../../../../assets/icons/edit-icon.svg" alt="Edit" />
  </button>
</form>
