@import "../../../scss/index.scss";

form {
  display: flex;
  flex-direction: column;
  gap: 20px;

  position: relative;

  .input-group {
    border-bottom: 1px solid;

    display: flex;
    align-items: center;

    position: relative;

    label {
      font-size: rem-calc(14);
    }

    input {
      width: 100%;
      padding: 10px;

      outline: none;

      &[type="password"] {
        padding-right: 24px;
      }
    }

    img {
      position: absolute;
      top: 18%;
      right: 0;

      width: 0;
    }
  }

  #sendProfile {
    width: 42px;
    margin: auto;

    overflow: hidden;

    transition: width 500ms ease;

    &.disabled {
      width: 0;
    }

    img {
      border-radius: 50%;
      padding: 5px;

      object-fit: cover;
      aspect-ratio: 1/1;
    }
  }
}

#editProfile {
  width: 45px;

  position: absolute;
  left: 42%;
  bottom: 0;

  overflow: hidden;

  transition: width 500ms ease;

  &.editing {
    width: 0;
  }

  img {
    border-radius: 10px;

    width: 45px;
    padding: 2px;
  }
}
